/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* more on this crazy alphanumerical value in a minute! */
    color: teal;
    font-family: cursive;
}
/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: tan;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: darkred;
    margin: 0;
    display: inline;
}
header a {
    text-decoration: none;
    color: darkred;
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
section {
    padding: 60px;
}
/* Hero style start */
.hero {
    background-image: url(../images/hero-bg.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}
/* Hero style end */

.hero-form {
    border: 3px solid darkgoldenrod;
    background-color: peachpuff;
    padding: 20px;
    width: 500px;
    color: black;
    position: absolute;
    bottom: 120px;
    right: 140px;
}
.hero-form h3 {
    font-size: 24px;
    margin: 0;
}
.hero-form p {
    margin: 5px 0 15px 0;
}
.form-input {
    border: 1px solid navy;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: darkgreen;
    width: 100%;
    margin-bottom: 15px;
}
.hero-form label {
    margin: 0 5px;
}
.hero-form button {
    color: navy;
    background-color: peru;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
footer {
    background:tan;
    width: 100%;
    padding: 40px 35px;
}
footer h2 {
    display: inline;
    color: darkred;
    font-size: 30px;
    margin: 0;
}
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}
footer a {
    color: darkred;
}